#svg-area {
	padding: 3rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 85vh;
	overflow: scroll;
}

svg {
	margin: 1.5rem;
}

.animate-svg {
	animation: dash 5s linear;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}
