#svg-form {
	height: 15vh;
	background-color: #394867;
}

.title {
	font-family: Pacifico, sans-serif;
	font-size: 2rem;
	color: rgb(255, 179, 0);
	position: absolute;
	top: 2.5rem;
	left: 4rem;
	z-index: 12;
}

.navigation-checkbox {
	display: none;
}

.navigation-checkbox:checked ~ .navigation-background {
	transform: scale(80);
}

.navigation-checkbox:checked ~ .form-container {
	opacity: 1;
	width: 100%;
}

.navigation-button {
	background-color: white;
	height: 4rem;
	width: 4rem;
	position: fixed;
	top: 2rem;
	right: 4rem;
	border-radius: 50%;
	z-index: 15;
	text-align: center;
	cursor: pointer;
}
.navigation-background {
	height: 3rem;
	width: 3rem;
	position: fixed;
	top: 2.5rem;
	right: 4.5rem;
	border-radius: 50%;
	background-image: radial-gradient(#394867, #1b3363);
	z-index: 10;
	transition: transform 0.7s cubic-bezier(0.86, 0, 0.07, 1);
}

.form-container {
	height: 100vh;
	/* width: 100vw; */
	position: fixed;
	top: 0;
	right: 0;
	padding-top: 10rem;
	display: flex;
	justify-content: center;
	z-index: 12;
	opacity: 0;
	width: 0;
	transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	/* text-align: center; */
	/* padding: 3rem; */
}

label {
	display: inline-block;
	color: #fff;
	padding-bottom: 0.3rem;
}

input,
select {
	width: 15rem;
	padding: 0.5rem;
}

.shape,
.color,
.circle,
.rectangle,
.square,
button {
	margin: 0.5rem 1rem;
}

.button-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.btn {
	background-color: rgb(255, 179, 0);
	border: none;
	color: white;
	padding: 0.5rem;
	text-align: center;
	text-decoration: none;
	font-size: 1rem;
}

.btn:hover {
	cursor: pointer;
	background-color: rgb(255, 207, 96);
}

.navigation-icon {
	position: relative;
	margin-top: 2rem;
}

.navigation-icon,
.navigation-icon::after,
.navigation-icon::before {
	width: 2rem;
	height: 2px;
	background-color: #333;
	display: inline-block;
}

.navigation-icon::after,
.navigation-icon::before {
	content: '';
	position: absolute;
	left: 0;
	transition: all 0.2s;
}

.navigation-icon::before {
	top: -0.6rem;
}
.navigation-icon::after {
	top: 0.6rem;
}

.navigation-button:hover .navigation-icon::before {
	top: -0.8rem;
}
.navigation-button:hover .navigation-icon::after {
	top: 0.8rem;
}

.navigation-checkbox:checked + .navigation-button .navigation-icon {
	background-color: transparent;
}

.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
	top: 0;
	transform: rotate(45deg);
}
.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
	top: 0;
	transform: rotate(-45deg);
}
